
article {
	margin:auto;
	height: 44em;
	width: 25em;
	display:grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-gap: auto;
	display: flex-box;
	flex-direction: column;
	align-items: space-around;
	justify-content: center;
	border-radius: 10px;
}

h2 {
	display: grid;
	justify-content: center;
}


.main3 {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 7em 7em 15em;
}

#pic{
	height:7rem;
	width:7rem;	
}

#pic2 {
	height: 7rem;
	width: 7rem;
}

#pic3 {
	height: 10rem;
	width: 10rem;
}