
article {
	margin:auto;
	height: 44em;
	width: 25em;
	display:grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-gap: auto;
	display: flex-box;
	flex-direction: column;
	align-items: space-around;
	justify-content: center;
	border-radius: 10px;
}

h2 {
	display: grid;
	justify-content: center;
}


.main3 {
	display: grid;
	grid-gap: 1px;
	grid-template-columns: auto;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	padding: 10px;
	padding-bottom: 75px;
}

#pic{
	height:7rem;
	width:7rem;	
}

#pic2 {
	height: 7rem;
	width: 7rem;
}

#pic3 {
	height: 10rem;
	width: 10rem;
}

#comment-box {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	background-color: 	#C0C0C0;
	border-radius: 5px;
	padding: 5px;
}

#review-box {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	background-color: 	#C0C0C0;
	border-radius: 5px;
	padding: 5px;
}

#tagList, #tagList2 {
	background-color: 	#C0C0C0;
	border-radius: 5px;
	padding: 5px;
}