<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="UTF-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<meta http-equiv="X-UA-Compatible" content="ie=edge"></meta>

<link rel="stylesheet" href="/css/style.css"></link>
<link rel="stylesheet" href="/css/layout.css"></link>
</head>
<body class="body3">

	<article class="main3">
		<header th:each="review : ${reviewModel}">
			<h2 th:text="${review.header}"></h2>
		</header>
		
		<section th:each="review: ${reviewModel}" class="section3">
			<figure>
				<img th:src="${review.image}" id="pic3"></img>
			</figure>
			<p th:text="${review.content}"></p>
<!-- 			<div th:each="tag: ${reviewModel.tags}"> -->
<!-- 				<a th:text="${tag.description}" href="http://localhost:8080/tags"></a> -->
<!-- 			</div> -->
		</section>
		
		<div id="tagList">
			<ul id="tagList" th:each="tag:${reviewModel.getTags()}">
				<li th:text="${tag.description}"></li>
			</ul>
		</div>
		
		<div class="newTagForm">
			<form id="newTagForm" method="post">
				<label>New Tag:</label>
				<input id="reviewTagId" type="hidden" th:value="${reviewModel.id}" name="reviewId"></input>
				<input id="descriptionId" type="text" name="description"></input>
				<button id="addTag" th:formaction="@{/add-tag}">Submit</button>
			</form>
		</div>
		
<!-- 		<section th:each="tag: ${reviewModel.tags}"> -->
<!-- 			<p th:text="${tag.description}"></p> -->
<!-- 		</section> -->
		
<!-- 		<section> -->
<!-- 			<form method="post"> -->
<!-- 				<label>Tag:</label> -->
<!-- 				<input type="text" name="description"></input> -->
<!-- 				<div class="add-comment-reviewId"> -->
<!-- 				<input type="hidden" th:value="${reviewModel.id}" name="stringId"/> -->
	
<!-- 			 	</div> -->
<!-- 				<button type="submit" th:formaction="@{/add-tag}">Tag Submit</button> -->
<!-- 			</form> -->
<!-- 		</section> -->
		
		<section th:each="comment: ${reviewModel.comments}">
			<p th:text="${comment.content}"></p>
		</section>
		
		<section>
			<form method="post">
				<label>Comment</label>
				<input type="text" name="content"></input>
				<div class="add-comment-reviewId">
				<input type="hidden" th:value="${reviewModel.id}" name="stringId"/>
	
			 	</div>
				<button type="submit" th:formaction="@{/add-comment}">Comment Submit</button>
			</form>
		</section>

	</article>
</body>
<footer>
	<a href="http://localhost:8080/categories">Return Home</a>
</footer>
<script src="./js/ajaxTags.js"></script>
</html>