<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="UTF-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<meta http-equiv="X-UA-Compatible" content="ie=edge"></meta>

<link rel="stylesheet" href="/css/style.css"></link>
<link rel="stylesheet" href="/css/layout.css"></link>
</head>
<body class="body3">
	<article class="main3">
		<header th:each="review : ${reviewModel}">
			<h2 th:text="${review.header}"></h2>
		</header>
		
		<section th:each="review: ${reviewModel}" class="section3">
			<figure>
				<img th:src="${review.image}" id="pic3"></img>
			</figure>
			<h4>The Review:</h4>
			<p th:text="${review.content}" id="review-box"></p>
		</section>
		
		<h4>The tags: </h4>
		<section id="tagList">
			<ul th:each="tag:${reviewModel.getTags()}">
				<li><a th:href="@{/tag(id=${tag.id})}" th:text="${tag.description}"></a></li>
			</ul>
		</section>
		
		<section>
			<form id="addTagForm" method="post">
				<label>Add Tag:</label>
				<input type="hidden" id="addTagId" th:value="${reviewModel.id}" name="reviewId"></input>
				<input type="text" id="addTagDescriptionId" name="description"></input>
				<button id="addTag" th:formaction="@{/add-tag}">Submit</button>
			</form>
		</section>
				
		
		<section>
			<form id="deleteTagForm" method="post">
				<label>Delete Tag:</label>
				<input type="hidden" id="deleteTagId" th:value="${reviewModel.id}" name="reviewId"></input>
				<input type="text" id="deleteTagDescriptionId" name="deleteTagDescription"></input>
				<button id="deleteTag" th:formaction="@{/delete-tag}">Submit</button>
			</form>
		</section>
		
		<h4>The comments:</h4>
		<section id="comment-box">
			<p th:each="comment: ${reviewModel.comments}" th:text="${comment.content}"></p>
		</section>
		
		<section>
			<form method="post">
				<label>Add Comment:</label>
				<input type="text" name="content"></input>
				<input type="hidden" th:value="${reviewModel.id}" name="stringId"/>
				<button type="submit" th:formaction="@{/add-comment}">Submit</button>
			</form>
		</section>

	</article>
</body>
<footer>
	<a href="http://localhost:8080/categories">Return Home</a>
</footer>
<script src="./js/ajax.js"></script>
</html>